@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var site = Model.Content.Site();
    //var node = site.Site();
    //var node = Umbraco.TypedContent(site);
    var selection = site.Children.Where(x => x.IsVisible());
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Akademy – Umbraco Tech Test - @Model.Content.Name</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">


    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="/image/x-icon">
    <link rel="icon" href="favicon.ico" type="/image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="short-header">

        <div class="gradient-block"></div>

        <div class="row header-content">

            <div class="logo">
                <a href="/">Author</a>
            </div>

            <nav id="main-nav-wrap">
                <ul class="main-navigation sf-menu">
                    <li class="@Html.Raw(Model.Content.Id == site.Id ? "current" : "")"><a href="@site.Url()" title="">@site.Name</a></li>
                    @foreach (var item in selection)
                    {
                        <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)"><a href="@item.Url()">@item.Name</a></li>
                    }
                </ul>
                @*<ul class="main-navigation sf-menu">
                        <li class="current"><a href="/" title="">Home</a></li>
                        <li><a href="/news/" title="">News</a></li>
                        <li><a href="/about-us/" title="">About Us</a></li>
                    </ul>*@
            </nav> <!-- end main-nav-wrap -->

            <div class="search-wrap">

                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#" id="close-search" class="close-btn">Close</a>

            </div> <!-- end search wrap -->

            <div class="triggers">
                <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
                <a class="menu-toggle" href="#"><span>Menu</span></a>
            </div> <!-- end triggers -->

        </div>

    </header> <!-- end header -->

    <div style="margin: 30px 0">
        @RenderBody()
    </div>
    <!-- footer
       ================================================== -->
    <footer>

        <div class="footer-main">

            <div class="row" style="display: flex; justify-content: center">
                <div class="col-two tab-1-3 mob-1-2 site-links">

                    <h4>Site Links</h4>

                    <ul>
                        <li class="@Html.Raw(Model.Content.Id == site.Id ? "current" : "")"><a href="@site.Url()" title="">@site.Name</a></li>
                        @foreach (var item in selection)
                        {
                            <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)"><a href="@item.Url()">@item.Name</a></li>
                        }
                        @*<li><a href="/" class="whiteFont">Home</a></li>
                            <li><a href="/news/">News</a></li>
                            <li><a href="/about-us/">About Us</a></li>*@
                    </ul>

                </div> <!-- end site-links -->

                <div class="col-two tab-1-3 mob-1-2 social-links">

                    <h4>Social</h4>

                    <ul>
                        <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                        <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
                        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                    </ul>

                </div> <!-- end social links -->

                <div class="col-four tab-1-3 mob-full footer-subscribe">

                    <h4>Subscribe</h4>

                    <p style="color: white">Keep yourself updated. Subscribe to our newsletter.</p>

                    @using (Html.BeginUmbracoForm("SubmitForm", "Subscribe", FormMethod.Post))
                    {
                        <div class="subscribe-form">
                            <div class="input-group mb-3" style="display: flex; align-items: baseline;">
                                <input type="email" name="email" class="form-control email" id="email" placeholder="Register your email" aria-label="Recipient's username" aria-describedby="button-addon2" required="">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Register</button>
                            </div>
                        </div>
                    }

                </div> <!-- end subscribe -->

            </div> <!-- end row -->

        </div> <!-- end footer-main -->

        <div class="footer-bottom">
            <div class="row">

                <div class="col-twelve">
                    <div class="copyright">
                        <span style="color: white">© Copyright | Newshore Akademy @DateTime.Now.Year</span>
                    </div>

                    <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
                    </div>
                </div>

            </div>
        </div> <!-- end footer-bottom -->

    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>