@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var quantity = Model.MacroParameters["quantityPerPage"].ToString();
    var name = Model.MacroParameters["newsList"].ToString();
    var node = Umbraco.TypedContent(name);
    var selection = node.Descendants("newItem")
        .Where(x => x.GetPropertyValue<string>("category").Equals("Principal"))
        .OrderByDescending(x => x.CreateDate).Take(int.Parse(quantity));
}

<ul style="list-style: none">
    @foreach (var item in selection)
    {
        var category = item.GetPropertyValue<string>("category");

        var image = item.GetPropertyValue<string>("image");
        var author = item.GetPropertyValue("author");
        var mediaItem = Umbraco.TypedMedia(image);

        <a href="@item.Url"><img src="@mediaItem.Url" /></a>
        <span><em>@category</em></span>
        <span><a href="@item.Url"><h2>@item.Name</h2></a><em>by @author</em></span>
        <div>@(Umbraco.Truncate(item.GetPropertyValue<string>("Summary"), 100)) <a href="@item.Url">Read More...</a></div>
        <hr />
    }
</ul>
